body {
    background-image: url('/static/img/background.jpg');
    background-size: 100% auto;
}
h1 {
    color: rgb(75, 106, 243);
    text-align: center;
}

form {
    text-align: center;
}

input[type="submit"] {
    background-color: rgb(243, 181, 67);
    color: white;
    border-radius: 30%;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}

button {
    background-color: rgb(243, 181, 67);
    color: white;
    border-radius: 30%;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 105px;
}

.blessing {
    text-align: left;
    font-style: italic;
    font-size: 18px;
    margin-left: 100px;
    line-height: 2.2;
}

.basicinfo {
    text-align: left;
    font-size: 30px;
    margin-left: 150px;
    line-height: 3.0;
}

.datepicker {
    display: inline-block;
    position: relative;
    margin-left: 60px;
}
.datepicker input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}